<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>

    <php>
        <env name="APP_MODE" value="dev"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:qMmbLCKi8f8xfM+vEhLMOvEtOMRB9IivfE3mM3z0wRU="/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_URL" value=""/>
        <env name="LOG_CHANNEL" value="null"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="CRYPTOSIK_DEV_OTP_CODE" value="111111"/>
        <env name="CRYPTOSIK_LOOKUP_PEPPER" value="test-pepper-for-cryptosik"/>
        <env name="CRYPTOSIK_LOOKUP_SALT" value="test-salt-for-cryptosik"/>
        <env name="CRYPTOSIK_ARGON_OPSLIMIT" value="4"/>
        <env name="CRYPTOSIK_ARGON_MEMLIMIT" value="67108864"/>
    </php>
</phpunit>
